@CHARSET "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
}
#leftside{
	margin-top:5em;
	float:left;
	width:30em;
	background: #f6a828 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png")80% 20% repeat-x;
}
#head{
	margin-top:0.2em;
	margin-bottom:0.2em;
	width:100%;
	text-align: center;
}

#menu{
	margin: 0 auto;
	
}
#menu1{
	margin-left:4em;
	float:left;
}
#menu2{
	margin-left:4em;
}
fieldset {
    margin: 1em;
    margin-top:3em;
    padding: 1em;
    width: 14em;
    border: 0.1em solid #000;
    float:left;
    font-size: 1.8rem;
}


.row{
	text-align:center;
	display:table-row;
	width:100%;
}

select{
	text-align:center;
	width:11em;
}
#fieldButton{
	margin-top: 2em;
}
input{
	text-align: center;
}

#images{
	margin-top:5em;
	float:right;
	width:70%;
	height:42em;
	
	overflow:auto;
	
}
#time_text{
	width:4em;
	text-align: center;
	height:2em;
	border: 1px solid #e78f08;
	background: #f6a828 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}


#time_div{
	float:right;
}
#time_slider{
	margin:0 auto; /* mittig anordnen */
	margin-top: 2em;
	height: 10em;
}
#datepicker{
	float:left;
}
